body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header{
  width: 100%;
  height: auto;
  background-color: #48BE58;
}
.header-logo {
  margin: 2vh auto 2vh 0vh;
}
.header-logo img{
  width: 20vh;
}
.nav-title{
  margin: 4vh auto 4vh auto;
}
.nav-title h1{
  font-size: 26px;
  text-align: right;
  float: right;
  color: #FFF;
}
#icon-profile{
  width: 30px;
  float: right;
}
.content{
  margin: 5vh auto 5vh auto;
}
.content-left{
  width: 100%;
  height: auto;
  background-color: #fff;
  text-align: center;
}
.content-left h2{
  font-size: 30px;
  color: #05C92C;
  font-weight: bold;
}
#package{
  margin: 5vh auto 5vh auto;
  width: 25vh;
}
#btnLogin{
  width: 12vh;
  height: 4vh;
  border-radius: 30px;
  border-style: none;
  background-color: #05C92C;
  color: #FFF;
  font-weight: bold;
  font-size: 18px;
}
.content-right{
  width: 100%;
  height: auto;
  background-color: #D4D4D4;
  border-radius: 3px;
}

@media only screen and (max-width: 1540px) {
  .nav-title h1{
    font-size: 20px;
  }
  #icon-profile{
    width: 25px;
  }
  #btnLogin{
    width: 18vh;
    height: 5vh;
  }
}
