.change-color {
    background-color: #48BE58!important;
}
nav li a{
  color: white !important
}
.nav-link{
  font-size: 22px;
}
.content-left{
  margin: 10vh auto 5vh auto;
  text-align: center;
}
.content-left h2{
  font-size: 24px;
  color: #7C827A;
  font-weight: bold;
}
#btnLogin{
  width: 13vh;
  height: 4vh;
  border-radius: 30px;
}
#package{
  margin: 2vh auto 2vh auto;
}
.content-right{
  background-color: #D4D4D4;
  margin: 5vh auto 5vh auto;
  padding: 20px;
  border-radius: 5px;
}
#title-bar h1{
  font-size: 26px;
  color: #34AC44;
  margin-bottom: 3vh;
}
#label-style{
  font-size: 16px;
  text-indent: 50px;
}
.input-radio span{
  margin: auto 3vh auto 0vh;
}
.input-radio input{
  border: 2px solid #26a69a;
}
#date, #times{
  text-indent: 10px;
  border-style: none;
  border-radius: 3px;
  width: auto;
  height: 4vh;
}
#parcel{
  width: 50px;
}
@media only screen and (max-width: 1540px) {
  #date, #times{
    height: 5vh;
  }
  .content-left{
    margin: 15vh auto 5vh auto;
  }
  #btnLogin{
    width: 20vh;
    height: 6vh;
  }
  }
