/* --!header--- */
.change-color {
    background-color: #05C92C!important;
}
.navbar-height{
  padding: 1rem 1rem;
}
.nav li a{
  color: white !important
}
.nav-link{
  font-size: 22px;
}
/* --content-- */
.content-left{
  margin: 100px auto 100px auto;
  text-align: center;
}
.content-left h2{
  font-size: 24px;
  color: #7C827A;
  font-weight: bold;
}
#btnLogin,#btnStart{
  width: 100px;
  height: 35px;
  border-radius: 30px;
  color: #FFF;
  font-weight: bold;
  background-color: #05C92C;
  border-style: none;
  margin: 30px auto 30px auto;
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}
#btnStart{
  float: right;
}
#link-color{
  color: red;
}
#link-color-register{
  color: black;
  text-decoration: none;
}
#link-color-register:hover{
  text-decoration: none;
  color: green;
}
#package{
  margin: 40px auto 20px auto;
}
#title-bar h1{
  font-size: 26px;
  color: #17a2b8;
  margin-bottom: 25px;
}
.label-style{
  font-size: 16px;
  font-weight: bold;
}
.input-radio span{
  margin: auto 25px auto 0px;
}
.input-radio input{
  border: 2px solid #26a69a;
}
.border-{
  border-radius: 0px;
}
.combobox-style{
  width: 100%;
  height: 35px;
  border-radius:0px;
  border-style: none;
}

#date, #times{
  border-style: none;
  border-radius: 0px;
  width: auto;
  height: 35px;
  text-align: center;
}
/* --formRegister-- */
.bg-color{
  background-color: #d6dce2;
  padding: 30px;
  margin: 50px auto 50px auto;
  border-radius: 0px;
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
/*  border:1px solid;
  border-color:#6c757d;*/
}
#style-logo{
  width: 200px;
  height: auto;
  margin: 50px auto 30px auto;
}
.brand-name h1{
  font-size: 20px;
  margin: 35px auto 35px auto;
}
.login-style input{
  height: 50px;
  margin: 20px auto 20px auto;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);  
}
.register-style input{
  height: 50px;
  border-radius: 0px;
  border-radius: 3px;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);  
}

#label-form{
  font-size: 26px;
  font-weight: bold;
  color: #17a2b8;
}
#btnRegister{
  width: 130px;
  height: 40px;
  border-radius: 30px;
  color: #FFF;
  font-weight: bold;
  background-color: #FF0000;
  border-style: none;
  margin: 15px auto 0px auto;
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}
/*my-profile-form*/
#btnChange{
  width: 150px;
  height: 35px;
  float: right;
  border-radius: 0px;
  color: #FFF;
  font-weight: bold;
  background-color: #17a2b8;
  border-style: none;
  margin: 30px auto 30px auto;
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

/*layout of service*/
.container-top{
  margin: 50px auto 50px auto;
}
.box-img{
  max-width: 70%;
  height: 150px;
  margin: 10px auto 10px auto;
}
.size-img{
  width: 100%;
}
.card-margin{
  margin-top: 50px;
}
#btnSubmit{
  width: 150px;
  height: 35px;
  border-radius: 0px;
  color: #FFF;
  font-weight: bold;
  background-color: #17a2b8;
  border-style: none;
  margin: 20px auto 10px auto;
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}
.bg-shadow{
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}
.bg-color-white{
  background-color: #FFF;
  padding: 30px;
  border-radius: 0px;
  margin: 10px auto 10px auto;
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
/*  border:1px solid;
  border-color:#17a2b8;*/
}
.bg-margin{
    margin: 0px auto 0px auto;
    padding: 0px 30px 0px 30px;
    font-size: 18px;
    font-weight: bold;
}
#btnConfirm{
  width: 120px;
  height: 35px;
  border-radius: 0px;
  color: #FFF;
  font-weight: bold;
  background-color: #17a2b8;
  border-style: none;
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}
#btnDel{
  width: 80px;
  height: 35px;
  border-radius: 0px;
  color: #FFF;
  font-weight: bold;
  background-color: red;
  border-style: none;
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}
#company-name{
  font-size: 22px;
  font-weight: bold;
}
#size-logo{
  width: auto;
  height: 75px;
}
#btnBuy{
  width: 120px;
  height: 35px;
  border-radius: 0px;
  color: #FFF;
  font-weight: bold;
  background-color: #17a2b8;
  border-style: none;
 box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}
.row-top{
  margin-top: 15px;
}
#price-color{
  color: red;
  font-size: 20px;
  font-weight: bold;
}
/*button {
    background: linear-gradient(to right, #14DC35 50%, #17a2b8 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .4s ease-out;
}

button:hover {
/*    background-position: left bottom;
    transform: scale(1.1);
}*/
hr{
  border:0.5px solid;
  border-color:#17a2b8;
}

/*footer*/
#white{
  color: #FFF;
}
.text-remove{
  font-size: 14px;
  margin: 6px auto 6px auto;
}
.text-remove p{
  color: #FF0000;
}
.text-remove p:hover{
  cursor: pointer;
}
.text-add p:hover{
  cursor: pointer;
}
.radio-style{
  margin: 5px auto 5px auto;
}
.space-row{
  margin-top: 5px;
}
body{
  background-color: #dddddd;
}


/* ---> radio button <--- */
.radio-group{
  margin-right: 20px;
}
.custom-input{
  width: 90%;
  height: 43px;
  text-indent: 20px;
  border-radius: 5px;
}
.col-sm-6 select{
  background-size: 40px 50px;
  background-position: center right;
  border-style: none;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}
.custom-margin{
  margin: 15px 0px 15px 0px;
}
.dropdown-toggle::after {
  display:none;
}
element.style {
  margin-top: 4px;
}
select{
  -webkit-appearance: none;
  appearance: none;
  background-image: url('../img/arrow.png');
  background-repeat: no-repeat;
}
.cus- select{
  width: 100%;
  height: 40px;
  text-indent: 8px;
  border-radius: 4px;
  background-size: auto 40px;
  background-position: center right;
  border-style: none;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 

}
.input-style{
  padding-right: 0px;
}
.input-style input{
  height: 40px;
  border-radius:4px;
  border-style: none;
  margin-right: 2px;
  font-size: 14px;
  width: 100%;
  text-align: center;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2); 
}
.text-no{
  font-size: 14px;
  margin: 10px 0px 10px 0px;
}
.cus-margin{
  margin: 15px;
  background-color: #f3f3f3;
  border: none;
  -webkit-box-shadow: 1px 3px 6px #aaaaaa;
  box-shadow: 1px 3px 6px #aaaaaa;
  padding: 10px;
}
.align-center{
  margin: 31px auto 31px auto;
}
.btn-margin{
  margin: 5px 20px 5px 20px;
}